.crop {
  height: 180px;
  object-fit: cover;
}

body {
  font-family: "Georgia", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.push {
  margin-left: 2rem;

}

.spinner-wrapper {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* this is just to make sure its infront of all elements*/
  z-index: 9999;
  display: flex;
  /* this is so the spinner and the text are on seperate lines*/
  flex-direction: column;

  justify-content: center;
  align-items: center;
  transition: all 1.5s;
}
